@define-color foreground #f8f8f2;
@define-color background #282a36;
@define-color color0  #21222c;
@define-color color8  #6272a4;
@define-color color1  #ff5555;
@define-color color9  #ff6e6e;
@define-color color2  #50fa7b;
@define-color color10 #69ff94;
@define-color color3  #f1fa8c;
@define-color color11 #ffffa5;
@define-color color4  #bd93f9;
@define-color color12 #d6acff;
@define-color color5  #ff79c6;
@define-color color13 #ff92df;
@define-color color6  #8be9fd;
@define-color color14 #a4ffff;
@define-color color7  #f8f8f2;
@define-color color15 #ffffff;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#workspaces button {
    padding: 0 6px;
    color: @foreground;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;

    text-shadow: none;
    box-shadow: none;
    transition: none;
}

#workspaces button.active {
    color: @foreground;
    border-bottom: 3px solid @foreground;
}
